body {
    background-color: #fcfcfd;
    font-family: 'Inter', sans-serif;
}

.card {
    border-radius: 20px;
}

.table {
    border-radius: 15px;
    overflow: hidden;
}

.badge {
    padding: 8px 12px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.btn-danger {
    background-color: #ef4444;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.form-control {
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    padding: 10px;
}